.post {
  max-width: 800px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid black;
  margin-top: 45px;
  box-shadow: 0px 3px 5px #000000;
  padding: 10px 0 10px 10px;
  color: lightgray;
}

.post__container {
  display: flex;
}

.post__leftContainer {
  width: 500px;
  display: flex;
  align-items: center;
  position: relative;
}

.post__img {
  width: 100%;
}

.post__rightContainer {
  width: 300px;
}

.post__description {
  display: flex;
}

.post__description {
  display: flex;
  align-items: center;
}

.post__avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.post__commentBox {
  padding: 5px 15px;
}

.post__comments {
  max-height: 200px;
  overflow-y: auto;
}

.post__commentBoxHeader {
  display: flex;
  justify-content: space-between;
}

.post__commentBtn {
  font-size: 14px;
  cursor: pointer;
}

.post__commentForm {
  position: relative;
  display: none;
  margin-bottom: 10px;
}

.post__commentInp {
  width: 100%;
  height: 50px;
}

.post__submitBtn {
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: rgba(110, 110, 110, 0.877);
  right: 3px;
  top: 5px;
  cursor: pointer;
}

.post__username-anchor {
  text-decoration: none;
  color: inherit;
  color: white;
}

.post__userInfoBox {
  width: 100%;
  margin-bottom: 10px;
}

.post__userInfo {
  display: flex;
  padding: 0 20px;
  justify-content: center;
}

.post__likeBox {
  margin-right: 20px;
  min-width: 50px;
}

.post__likeIcon,
.post__likeCount-anchor {
  cursor: pointer;
}

.post__likeCount {
  display: flex;
  justify-content: center;
}
