.modalBox {
  max-width: 300px;
  margin-left: 50%;
  margin-top: 200px;
  transform: translateX(-50%);
  border: 2px solid lightgray;
  box-shadow: 0 2px 5px black;
  color: lightgray;
  background-color: black;
}

.modalBox__members {
  max-height: 300px;
  overflow: auto;
}

.modalBox h3 {
  text-align: center;
  background-color: rgb(83, 83, 83);
  color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
}
